@charset "utf-8";

/* CSS Document */

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f4f4f4;
    background-image: url({%public public/img/bg.png%});
    background-repeat: no-repeat;
    background-position: top center;
}
ul,li,div,body,*{margin:0;padding:0}
a {
    color: #333;
}
a:hover {
    text-decoration: none;
}
li{
    list-style: none;
}
.container {
   /* width: 1000px !important;*/
    padding-left: 10px;
    padding-right: 10px;
}
.transparent {
  background-color: transparent !important;
}
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.panel {
    box-shadow: none;
    border-radius: 0;
}
.panel-group .panel {
    border-radius: 0px;
}

.panel-title {
    font-weight: bold;
}

.panel-20176161206 .panel-heading {
    border-bottom: 1px solid #24a4ef;
    position: relative;
    height: 43px;
}

.panel-20176161206 .panel-heading .panel-title {
    position: absolute;
    background-color: #24a4ef;
    color: #fff;
    padding: 10px 15px;
    top: 0;
    left: 0;
}

.panel-20176161811 .panel-heading {
    background-color: #24a4ef;
    color: #fff;
    border-radius: 0;
}

.f16 {
    font-size: 16px;
}
.f17{
    font-size: 17px;
}
.f20{
    font-size: 20px;
}
.more {
    color: #888;
    font-size: 12px;
}

.time {
    color: #888;
    font-size: 12px;
}

.border {
    border: 1px solid #ddd;
}
.no-bordered{
    border: 0;
}
.m-0 {
    margin: 0 !important;
}
.mr-1{
    margin-right: 10px;
}
.pl-0 {
    padding-left: 0;
}
.pl-1{
    padding-left: 10px;
}
.pr-1{
    padding-right: 10px;
}
.pr-0 {
    padding-right: 0;
}

.pb-1 {
    padding-bottom: 10px;
}
.p-2{
    padding: 20px;
}
.block {
    display: inline-block;
}

.topbar {
    font-size: 12px;
	line-height:25px;
	background:#f1f1f1;
}

.banner {
    height: 200px;
}

.btn {
    border-radius: 0;
}

.btn-success {
    background-color: #22ac38;
}
.btn-danger{
    background-color: #e60012;
}
.btn-info {
    background-color: #00b7ee;
}

.text-danger {
    color: #e60012;
}

.text-warning {
    color: orange;
}
.text-success{
    color: #22ac38;
}
.text-info{
    color: #00b7ee;
}
.form-control {
    border-radius: 0;
}

.input-20176161003>.form-control {
    background: url(../img/btn-bg.png);
    border: 0;
}

.navbar {
    margin-bottom: 15px;
}

.navbar-20176161029 {
    background-color: #f4f4f4;
    border-top: 2px solid #0073cc;
    border-radius: 0;
    font-size: 18px;
    height: 52px;
}

.nav-pills.navbar-20176161029>li.active>a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 50px solid #04599c;
    border-right: 15px solid transparent;
    top: 0;
    right: -14px;
}
.navbar-20176161029>li>a:focus,
.navbar-20176161029>li>a:hover {
    background-color: #0073cc;
    color: #fff;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #0073cc;
    border-radius: 0;
}

.navbar-20176161029>li>a {
    border-radius: 0;
    padding: 12px 15px;
    height: 50px;
}

.navbar-20176161029>li>a .nav-bg {
    display: inline-block;
    background-image: url(../img/nav-bg.png);
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.navbar-20176161029>li>a:focus .nav-bg,
.navbar-20176161029>li>a:hover .nav-bg,
.navbar-20176161029>li>a:active .nav-bg,
.navbar-20176161029>li.active>a .nav-bg {
    background-image: url(../img/nav-bg-hover.png);
}
.nav-bar-list {
    height: 45px;
    background-color: #24a4ef;
    opacity: 0.9;
    color: #fff;
     line-height: 45px;

}
.nav-bar-list .list-inline li  a{
    color: #fff;
    padding: 10px 15px;
}
.nav-bar-list .list-inline li  a:focus,
.nav-bar-list .list-inline li  a:active,
.nav-bar-list .list-inline li  a:hover{
    color: #fff;
    background-color: #0073cc;
}
.nav-1 {
    background-position: 0;
}

.navbar-20176161029 li.active .nav-1,
.nav-1:hover {
    background-position: 0;
}

.nav-2 {
    background-position: -20px 0;
}

.navbar-20176161029 li.active .nav-2,
.nav-2:hover {
    background-position: -20px 0;
}

.nav-3 {
    background-position: -40px 0;
}

.navbar-20176161029 li.active .nav-3,
.nav-3:hover {
    background-position: -40px 0;
}

.nav-4 {
    background-position: -60px 0;
}

.navbar-20176161029 li.active .nav-4,
.nav-4:hover {
    background-position: -60px 0;
}

.nav-5 {
    background-position: -80px 0;
}

.navbar-20176161029 li.active .nav-5,
.nav-5:hover {
    background-position: -80px 0;
}

.nav-6 {
    background-position: -100px 0;
}

.navbar-20176161029 li.active .nav-6,
.nav-6:hover {
    background-position: -100px 0;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #0073cc;
    border-color: transparent;
}

.main {
    background-color: #fff;
    padding: 10px;
}

.list-group-20176161216 .list-group-item {
    border: 0;
    background-color: transparent;
}

.list-group-20176161216 .list-group-item:hover {
    background-color: #f5f5f5;
}

.carousel-20176161513>.carousel-inner>.item>img {
    height: 325px;
    width: 100%;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    right: 0;
    text-align: left;
    left: 0;
    padding: 10px;
    bottom: 0;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 65%;
    z-index: 15;
    width: 30%;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
    list-style: none;
    margin-top: 19px;
}

.list-inline-20176161717 {
    margin-bottom: 0;
	/*margin-top:10px;*/
}

.list-inline-20176161717>li {
    padding-top:4px;
}

.thumbnail-20176161737 {
    border-radius: 0;
    height: 153px;
}

.thumbnail-20176161737 img {
    width: 115px;
}

.nav-tabs.nav-justified-20176161833>li>a {
    border-bottom: 0;
    border-radius: 0;
}

.nav-tabs.nav-justified-20176161833>.active>a,
.nav-tabs.nav-justified-20176161833>.active>a:focus,
.nav-tabs.nav-justified-20176161833>.active>a:hover {
    border-bottom: 3px solid #24a4ef;
    color: #24a4ef;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.list-group-20176161840 {
    margin-bottom: 0;
}

.list-group-20176161840>.list-group-item {
    border: 0;
    float: left;
}

.list-group-20176162026>.list-group-item {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 0;
    border-radius: 0;
}

.footer {
    /*background-color: #ddd;*/
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    font-size: 14px;
    color: #888;
	border-top:4px solid #00a1cb;
}

.footer .red-logo {
    position: absolute;
    height: 60px;
    width: 60px;
    left: 280px;
    top: 10px;
}

.dropdown-menu {
    border-radius: 0;
}
.dropdown-hover:hover .dropdown-menu {
    display: block;
    top: 45px;
    width: 100%;
}

.navbar-20176161029 > .dropdown-hover > .dropdown-menu{
/*    width: 300px;*/
    background-color: #24a4ef;
    opacity: 0.9;
    color: #fff;

}
.navbar-20176161029 > .dropdown-hover > .dropdown-menu > li > a{
    color: #fff;
}
.navbar-20176161029 > .dropdown-hover > .dropdown-menu > li > a:focus,
.navbar-20176161029 > .dropdown-hover > .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #0073cc;
}


.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #0073cc;
}

.breadcrumb {
    border-radius: 0;
}

.content-body {
    line-height: 2;
    padding: 0 20px;
}

.text-indent {
    text-indent: 2em;
}

.static, .p-static {
    position: static !important;
}
.nav-2017619943{
    background-color: #ddd;
}
.nav-2017619943 > li > a{
    font-size: 18px;
}
.list-bg{
    padding: 10px 15px;
    position: relative;
/*    font-size: 17px;*/
}
.list-bg > a{
    background-image: url(../img/right_tit_bg2.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    font-weight: normal;
    font-size: 17px;
/*    line-height: 48px;*/
    vertical-align: middle;
/*    padding:10px 20px;*/
}
.list-bg-1{
    padding: 0 25px;
}
.list-bg-1 a:before{
    content: "";
    position: absolute;
    height: 3px;
    width: 3px;
    background-color: #333;
    top: 18px;
    left: 5px;
}
.sub-top{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    background-image
    :url(../img/sub_r_index.png);
    background-position: left top;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    transition: all ease-in-out 0.2s;
}
.panel-search{
    background-image: url(../img/right_search_bg1.png);
    overflow: hidden;
    background-color: #ededed;
    background-repeat: no-repeat;
    height: 50px;
}
.border-left{
    border-left: 1px solid #ddd;
}

.left-list-fwzt{
    background-image: url(../img/fwzt_bg_line.png);
    background-repeat:repeat-y;
    background-position: top center;
}
.left-list-fwzt > .list-group-item{
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    font-size: 15px;

} 
.left-list-fwzt > .list-group-item:focus,
.left-list-fwzt > .list-group-item:hover {
/*    z-index: 2;*/
    color: #4178be;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
.left-list-fwzt > .list-group-item.active, 
.left-list-fwzt > .list-group-item.active:focus, .left-list-fwzt > .list-group-item.active:hover {
/*    z-index: 2;*/
    color: #4178be;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}
/*
.list-bumen{
    padding: 0 15px;
}
*/
.list-bumen a{
    margin-top: 10px;
    background-color: transparent;
    overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
}
.list-bumen > a.active{
    background-color: #0073cc;
    color: #fff;
    box-shadow: none;
}
.head-20176191557{
    border-bottom: 2px solid #e4e6eb;
    margin-bottom: 15px;
    padding: 3px 15px;
}
.nav-20176191621{
    padding: 0 25px;
}
.nav-20176191621 > li > a {
    font-size: 15px;
    border-bottom: 1px solid #dadee9;
}
.nav-20176191621 > li.active > a {
    color: #4178be;
    font-weight: bold;
    background-color: #e5e5e5;

}
.list-20176191641 > a{
    width: 18%;
    margin: 5px;
}
.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    vertical-align: middle
}
.table-20176191709 > thead > tr > th, 
.table-20176191709 > tbody > tr > th, 
.table-20176191709 > tfoot > tr > th, 
.table-20176191709 > thead > tr > td, 
.table-20176191709 > tbody > tr > td, 
.table-20176191709 > tfoot > tr > td {
    line-height: 1.75;
    padding: 15px 10px;
    vertical-align: middle;
}
.its-login {
    padding: 30px 45px;
    background-color: rgba(249, 253, 255, 0.7);
    box-shadow: #999 0px 0px 8px;
    width: 430px;
    margin: 50px auto 70px auto;
}
.delta{
    margin-top: 0;
}
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.form-inline .input-group > .form-control {
    width: 100%;
}
.form-inline .input-group .form-control, 
.form-inline .input-group .input-group-addon, 
.form-inline .input-group .input-group-btn {
    width: auto;
}
.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.col-md-offset-8 {
    margin-left: 66.66666667%;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.nav-20176221102 > li > a{
    padding: 10px 40px;
}
.input{
	vertical-align: middle;
	border: 1px solid #ddd;
}
.bg-default {
  background-color: #f5f5f5;
}
/*banner导航*/
.box_link_btn{ float:left;margin:116px 0 0 0;}
.box_link_btn li{ width:98px; height:98px; margin-right:10px; float:left; overflow:hidden; position:relative;}
.toll_img{ width:98px; height:98px;}
.toll_info{ height:98px; height:98px;  vertical-align:middle;display:table-cell;}
.box_link_btn li a{ color:#666; text-decoration:none; position:absolute; top:0; left:0;}

.banner_search{ float:left; width:700px; padding-left:332px; margin:156px 0 0 0; }
.banner_search input{vertical-align:middle; border:0px; color:#939393; outline:none}
.ban_seach_text{ width:378px; height:31px; background:url(../images/search_bg.png) left center no-repeat; text-indent:10px; line-height:31px;}




.izl-rmenu{position:fixed; right:20px; bottom:250px; padding-bottom:20px; background:url(../images/r_b.png) 0px bottom no-repeat; z-index:2; }
.izl-rmenu .btn{width:85px; height:85px; margin-bottom:1px; cursor:pointer; position:relative;}

.izl-rmenu .btn-qq{border-radius:4px;background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de; text-decoration:none; display:block;}
.izl-rmenu a.btn-qq, .izl-rmenu a.btn-qq:hover{ background-color:#488bc7;}
.izl-rmenu .btn-qq{background:url(../images/r_qq.png) 0px 0px no-repeat; background-color:#6da9de;}
.izl-rmenu .btn-qq:hover{background-color:#488bc7;}
.izl-rmenu .btn-qq .qq{background-color:#ff811b; position:absolute; width:160px; right:-160px; top:0px; line-height:73px; color:#FFF; font-size:18px; text-align:center; display:none;  background-color:#6da9de; }

.izl-rmenu .btn-wx{border-radius:4px;background:url(../images/r_wx.png) 0px 0px no-repeat; background-color:#78c340;}
.izl-rmenu .btn-wx:hover{background-color:#58a81c;}
.izl-rmenu a.btn-wx,.izl-rmenu a.btn-wx:visited{background:url(../images/r_wx.png) 0px 0px no-repeat; background-color:#78c340; text-decoration:none; display:block;}
.izl-rmenu a.btn-wx,.izl-rmenu a.btn-wx:hover{background-color:#58a81c;}

.izl-rmenu .btn-help{border-radius:4px;background:url(../images/r_help.png) 5px 5px no-repeat; background-color:#f89406;}
.izl-rmenu .btn-help:hover{background-color:#ff8003;}
.izl-rmenu a.btn-help,.izl-rmenu a.btn-help:visited{background:url(../images/r_help.png) 5px 5px no-repeat; background-color:#f89406; text-decoration:none; display:block;}
.izl-rmenu a.btn-help,.izl-rmenu a.btn-help:hover{background-color:#ff8003;}

.btn {
	/*display:inline-block;

	display:inline;
	padding:5px 15px 5px;
	margin-bottom:0; *
	margin-left:.3em;
	font-size:13px;
	line-height:18px; *
	line-height:20px;
	color:#333;
	text-align:center;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align:middle;
	cursor:pointer;
	background-color:#f5f5f5; *
	background-color:#e6e6e6;
	background-image:-ms-linear-gradient(top, #fff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #fff, #e6e6e6);
	background-image:-o-linear-gradient(top, #fff, #e6e6e6);
	background-image:linear-gradient(top, #fff, #e6e6e6);
	background-image:-moz-linear-gradient(top, #fff, #e6e6e6);
	background-repeat:repeat-x;
	border:1px solid #ccc; *
	border:0;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color:#e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color:#b3b3b3;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);

	zoom:1;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] { background-color:#e6e6e6; *background-color:#d9d9d9
}*/
.btn:active,
.btn.active { background-color:#ccc \9 }
.btn:first-child { *margin-left:0
}
.btn:hover { color:#333; text-decoration:none; background-color:#e6e6e6; *background-color:#d9d9d9;
background-position:0 -15px;/*-webkit-transition:background-position .1s linear;
-moz-transition:background-position .1s linear;
-ms-transition:background-position .1s linear;
-o-transition:background-position .1s linear;
transition:background-position .1s linear*/ }
.btn:focus { outline:thin dotted #333; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px; outline-style:none; }
.btn.active,
.btn:active { background-color:#e6e6e6; background-color:#d9d9d9 \9; background-image:none; outline:0; -webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) }
.btn.disabled,
.btn[disabled] { cursor:default; background-color:#e6e6e6; /*background-image:none;*/ opacity:.65; filter:alpha(opacity=65); -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none }
.btn-large { padding:9px 14px; font-size:15px; line-height:normal; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px }
.btn-large [class^="icon-"] {
margin-top:1px
}
.btn-small { padding:5px 9px; font-size:11px; line-height:16px }
.btn-small [class^="icon-"] {
margin-top:-1px
}
.btn-mini { padding:2px 6px; /*font-size:11px;*/ line-height:14px; }
.btn-lmini { padding:1px 6px; /*font-size:11px;*/ line-height:14px; }
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover { color:#fff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25) }
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active { color:rgba(255, 255, 255, 0.75) }
.btn { border-color:#ccc; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) }
.btn-primary { background-color:#0074cc; *background-color:#05c;
background-image:-ms-linear-gradient(top, #08c, #05c); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#05c)); background-image:-webkit-linear-gradient(top, #08c, #05c); background-image:-o-linear-gradient(top, #08c, #05c); background-image:-moz-linear-gradient(top, #08c, #05c); background-image:linear-gradient(top, #08c, #05c); background-repeat:repeat-x; border-color:#05c #05c #003580; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] { background-color:#05c; *background-color:#004ab3
}
.btn-primary:active,
.btn-primary.active { background-color:#004099 \9 }
.btn-warning { background-color:#faa732; *background-color:#f89406;
background-image:-ms-linear-gradient(top, #fbb450, #f89406); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406)); background-image:-webkit-linear-gradient(top, #fbb450, #f89406); background-image:-o-linear-gradient(top, #fbb450, #f89406); background-image:-moz-linear-gradient(top, #fbb450, #f89406); background-image:linear-gradient(top, #fbb450, #f89406); background-repeat:repeat-x; border-color:#f89406 #f89406 #ad6704; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] { background-color:#f89406; *background-color:#df8505
}
.btn-warning:active,
.btn-warning.active { background-color:#c67605 \9 }
.btn-danger { background-color:#da4f49; *background-color:#bd362f;
background-image:-ms-linear-gradient(top, #ee5f5b, #bd362f); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image:-webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image:-o-linear-gradient(top, #ee5f5b, #bd362f); background-image:-moz-linear-gradient(top, #ee5f5b, #bd362f); background-image:linear-gradient(top, #ee5f5b, #bd362f); background-repeat:repeat-x; border-color:#bd362f #bd362f #802420; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] { background-color:#bd362f; *background-color:#a9302a
}
.btn-danger:active,
.btn-danger.active { background-color:#942a25 \9 }
.btn-success { background-color:#5bb75b; *background-color:#51a351;
background-image:-ms-linear-gradient(top, #62c462, #51a351); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351)); background-image:-webkit-linear-gradient(top, #62c462, #51a351); background-image:-o-linear-gradient(top, #62c462, #51a351); background-image:-moz-linear-gradient(top, #62c462, #51a351); background-image:linear-gradient(top, #62c462, #51a351); background-repeat:repeat-x; border-color:#51a351 #51a351 #387038; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] { background-color:#51a351; *background-color:#499249
}
.btn-success:active,
.btn-success.active { background-color:#408140 \9 }
.btn-info { background-color:#49afcd; *background-color:#2f96b4;
background-image:-ms-linear-gradient(top, #5bc0de, #2f96b4); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4)); background-image:-webkit-linear-gradient(top, #5bc0de, #2f96b4); background-image:-o-linear-gradient(top, #5bc0de, #2f96b4); background-image:-moz-linear-gradient(top, #5bc0de, #2f96b4); background-image:linear-gradient(top, #5bc0de, #2f96b4); background-repeat:repeat-x; border-color:#2f96b4 #2f96b4 #1f6377; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] { background-color:#2f96b4; *background-color:#2a85a0
}
.btn-info:active,
.btn-info.active { background-color:#24748c \9 }
.btn-inverse { background-color:#414141; *background-color:#222;
background-image:-ms-linear-gradient(top, #555, #222); background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#555), to(#222)); background-image:-webkit-linear-gradient(top, #555, #222); background-image:-o-linear-gradient(top, #555, #222); background-image:-moz-linear-gradient(top, #555, #222); background-image:linear-gradient(top, #555, #222); background-repeat:repeat-x; border-color:#222 #222 #000; border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); filter:progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
filter:progid:dximagetransform.microsoft.gradient(enabled=false)
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] { background-color:#222; *background-color:#151515
}
.btn-inverse:active,
.btn-inverse.active { background-color:#080808 \9 }
button.btn,
input[type="submit"].btn { *padding-top:2px;
*padding-bottom:2px
}
button.btn::-moz-focus-inner, input[type="submit"].btn::-moz-focus-inner {
padding:0;
border:0
}
button.btn.btn-large,
input[type="submit"].btn.btn-large { *padding-top:7px;
*padding-bottom:7px
}
button.btn.btn-small,
input[type="submit"].btn.btn-small { *padding-top:3px;
*padding-bottom:3px
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini { *padding-top:1px;
*padding-bottom:1px
}
.btn-group { position:relative; *margin-left:.3em;
*zoom:1
}
.btn-group:before,
.btn-group:after { display:table; content:"" }
.btn-group:after { clear:both }
.btn-group:first-child { *margin-left:0
}
.btn-group+.btn-group { margin-left:5px }
.btn-toolbar { margin-top:9px; margin-bottom:9px }
.btn-toolbar .btn-group { display:inline-block; *display:inline;
*zoom:1
}
.btn-group>.btn { position:relative; float:left; margin-left:-1px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0 }
.btn-group>.btn:first-child { margin-left:0; -webkit-border-bottom-left-radius:4px; border-bottom-left-radius:4px; -webkit-border-top-left-radius:4px; border-top-left-radius:4px; -moz-border-radius-bottomleft:4px; -moz-border-radius-topleft:4px }
.btn-group>.btn:last-child,
.btn-group>.dropdown-toggle { -webkit-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -moz-border-radius-topright:4px; -moz-border-radius-bottomright:4px }
.btn-group>.btn.large:first-child { margin-left:0; -webkit-border-bottom-left-radius:6px; border-bottom-left-radius:6px; -webkit-border-top-left-radius:6px; border-top-left-radius:6px; -moz-border-radius-bottomleft:6px; -moz-border-radius-topleft:6px }
.btn-group>.btn.large:last-child,
.btn-group>.large.dropdown-toggle { -webkit-border-top-right-radius:6px; border-top-right-radius:6px; -webkit-border-bottom-right-radius:6px; border-bottom-right-radius:6px; -moz-border-radius-topright:6px; -moz-border-radius-bottomright:6px }
.btn-group>.btn:hover,
.btn-group>.btn:focus,
.btn-group>.btn:active,
.btn-group>.btn.active { z-index:2 }
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle { outline:0 }
.btn-group>.dropdown-toggle {
*padding-top:4px; padding-right:8px; *padding-bottom:4px;
padding-left:8px; -webkit-box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05) }
.btn-group>.btn-mini.dropdown-toggle { padding-right:5px; padding-left:5px }
.btn-group>.btn-small.dropdown-toggle { *padding-top:4px;
*padding-bottom:4px
}
.btn-group>.btn-large.dropdown-toggle { padding-right:12px; padding-left:12px }
.btn-group.open .dropdown-toggle { background-image:none; -webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) }
.btn-group.open .btn.dropdown-toggle { background-color:#e6e6e6 }
.btn-group.open .btn-primary.dropdown-toggle { background-color:#05c }
.btn-group.open .btn-warning.dropdown-toggle { background-color:#f89406 }
.btn-group.open .btn-danger.dropdown-toggle { background-color:#bd362f }
.btn-group.open .btn-success.dropdown-toggle { background-color:#51a351 }
.btn-group.open .btn-info.dropdown-toggle { background-color:#2f96b4 }
.btn-group.open .btn-inverse.dropdown-toggle { background-color:#222 }
.btn .caret { margin-top:7px; margin-left:0 }
.btn:hover .caret,
.open.btn-group .caret { opacity:1; filter:alpha(opacity=100) }
.btn-mini .caret { margin-top:5px }
.btn-small .caret { margin-top:6px }
.btn-large .caret { margin-top:6px; border-top-width:5px; border-right-width:5px; border-left-width:5px }
.dropup .btn-large .caret { border-top:0; border-bottom:5px solid #000 }
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret { border-top-color:#fff; border-bottom-color:#fff; opacity:.75; filter:alpha(opacity=75) }
.schedules ul:hover li { background-color:#f5f5f5 }

